:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #292929;
  background-color: #e4e2dd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
  text-decoration: overline underline;
}

body {
  margin: auto;
  padding: 2em;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 80%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  background-color: #e4e2dd;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  text-decoration: underline;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
    text-decoration: underline;
  }

  button {
    background-color: #f9f9f9;
  }
}

nav {
  font-size: large;
  font-variant: small-caps;
}

.navbar {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
}

.my-logo {
  margin-bottom: 20px;
}

.cartoon-logo {
  width: 150px; 
  height: auto; 
  border-radius: 70%;
  display: block;
  margin: 0 auto;
}

.profile-image {
  width: 150px; 
  height: auto; 
  border-radius: 80px;
  display: block;
  margin: 0 auto;
}

.services-photo1 {
  height: auto; 
  border-radius: 90px;
  display: block;
  margin: 0 auto;
}

.home-section {
  padding: 20px;
}

.h2-section {
  text-align: center;
}


.services-section {
  padding: 20px;
  text-align: center;
}

.services-table {
  width: 80%; 
  margin: 20px auto; 
  border-collapse: collapse; 
}

.services-table thead {
  border-radius: 70px;
}

.services-table th {
  padding: 15px; 
  text-align: center; 
  background-color: #f2f2f2;
}

.services-table td {
  padding: 15px; 
  text-align: left;
}

.services-table tr:hover {
  background-color: #f1f1f1;
}

.projects-section {
  padding: 20px; 
  text-align: center; 
}

.projects-container {
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.project-card {
  border: 1px solid #ddd; 
  border-radius: 8px;
  padding: 10px; 
  margin: 10px; 
  width: 30%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.project-image {
  width: 100%; 
  height: auto; 
  cursor: pointer; 
}


.contact-section {
  padding: 20px; 
  max-width: 600px; 
  margin: auto; 
}

.contact-info {
  border: 1px solid #ddd;
  border-radius: 10px; 
  padding: 20px; 
  margin-bottom: 20px; 
}

.contact-form div {
  margin-bottom: 15px; 
}

.contact-form label {
  display: block; 
  margin-bottom: 5px; 
}

.contact-form input,
.contact-form textarea {
  width: 100%; 
  padding: 8px; 
  border: 1px solid #ddd; 
  border-radius: 8px;
  color: #292929;
  background-color: #ddd;
}

.contact-form button {
  padding: 10px 15px; 
  background-color: #007bff; 
  color: white;
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
}

.contact-form button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}